<a href="{{ url }}" class="c-stacked-block {{ styleModifier }}">

	<div class="c-stacked-block__media">
		{{> atoms-landscape:c-stacked-block__img }}
	</div>

	<div class="c-stacked-block__body">
		<h2 class="c-stacked-block__title">{{ headline.short }}</h2>
		<p class="c-stacked-block__excerpt">{{ excerpt.medium }}</p>
		<p class="c-stacked-block__meta">{{ label }}</p>
	</div><!-- end c-stacked-block__body -->
</a><!-- end c-stacked-block -->
